{
  "printWidth": 120,
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "overrides": [
    {
      "files": "**/*.module.ts",
      "options": {
        "printWidth": 70
      }
    },
    {
      "files": "**/*.repository.ts",
      "options": {
        "printWidth": 83
      }
    }
  ]
}